﻿@model IEnumerable<ChatCoffee.Models.ModelsDefault.LOAISANPHAM>
@if (Model != null && Model.Any())
{
    <div class="section-title">
        <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Thương hiệu Việt Nam</h4>
        <h1 class="display-4">Chat Coffees</h1>
    </div>
    <h3 class="section-title section-title-center" style="display: flex; margin-top: -35px">
        <b style="display: block; margin-top: 15px; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; height: 2px;  background-color: #DA9F5B;"></b>
    <span class="section-title-main" style="text-transform: none; margin: 0 15px;">Các loại cà phê tại ChatCoffee</span>
    <b style="display: block; margin-top: 15px; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; height: 2px;  background-color: #DA9F5B; "></b>
    </h3>
    <div class="row align-items-center">
        @foreach (var item in Model)
        {
            <div class="col-lg-3">
                <a href="/COFFEEs/CFCategory/@item.MALOAI">
                    <figure>
                        <span>
                            <img src="@item.ANH" style="width:131px;height:117px; border-radius: 6px; " />
                        </span>
                    </figure>
                    <h3>@item.TENLOAI</h3><!-- End .cat-block-title -->
                </a>
            </div>
        }
        @*</ul>
                </div>
                </div>
            </div>*@
    </div>

    <div class="panel panel-default">
        @*Hiện best seller*@
        <div class="panel-heading" style="margin-top: 35px">
            <h3 class="section-title1 section-title-center" style="display: flex; margin-top: -10px">
                <b style="display: block; margin-top: 15px; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; height: 2px;  background-color: #DA9F5B;"></b>
                <span class="section-title-main" style="text-transform: none; margin: 0 15px;">Sản phẩm nổi bật</span>
                <b style="display: block; margin-top: 15px; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; height: 2px;  background-color: #DA9F5B; "></b>
            </h3>
        </div>
        <div class="panel-body" style="margin-top: 40px">
            <div class="owl-carousel owl-theme">
                @Html.Action("Partial_ItemsByCateId", "COFFEEs")

                
            </div>
           


        </div>

    </div>

}
