@model ChatCoffee.Models.ModelsDefault.VANCHUYEN

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> Thêm mới Hình Thức Vận Chuyển  </h3>


        </div>
        <div class="card-body">
            @using (Html.BeginForm(@*"Create", "ManageDeliveries,", FormMethod.Post*@))
{
@Html.ValidationSummary(false)
@Html.AntiForgeryToken()


<div class="form-group">
    <label>Vận Chuyển:</label>
    @Html.TextBoxFor(x => x.TENVT, new { @class = "form-control" })
</div>
<div class="form-group">
    <label>Giá:</label>
    @Html.TextBoxFor(x => x.GIA, new { @class = "form-control" })
</div>



<div class="form-group">
    <button type="submit" class="btn btn-success">Thêm mới</button>
</div>
}

        </div>
        <div class="card-footer">


        </div>

    </div>


</section>