@model ChatCoffee.Models.ModelsDefault.VANCHUYEN

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"> <i class="fas fa-bars"></i> </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/ManageDeliveries" class="nav-link">Danh sách loại vận chuyển</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/ManageDeliveries/Create" class="nav-link">Thêm loại vận chuyển mới</a>
        </li>
    </ul>
}


<section class="content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> Thêm mới Hình Thức Vận Chuyển  </h3>


        </div>
        <div class="card-body">
            @using (Html.BeginForm(@*"Create", "ManageDeliveries,", FormMethod.Post*@))
{
@Html.ValidationSummary(false)
@Html.AntiForgeryToken()


<div class="form-group">
    <label>Vận Chuyển:</label>
    @Html.TextBoxFor(x => x.TENVT, new { @class = "form-control" })
</div>
<div class="form-group">
    <label>Giá:</label>
    @Html.TextBoxFor(x => x.GIA, new { @class = "form-control" })
</div>



<div class="form-group">
    <button type="submit" class="btn btn-success">Thêm mới</button>
</div>
}

        </div>
        <div class="card-footer">


        </div>

    </div>


</section>